body{
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.container{
    margin: 2% 10% 3% 10%;
    background-color: bisque;
}

.board button {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    border: 4px solid black; /*this gets rid of bootstrap shadow*/
    margin: 1px;
  }
  